<% var rootlink=config.root %>
<div id="fancycard" class="quickcard btncard-hide" style="position: fixed;z-index: 999;">
    <%- include("_partial/card") %>
</div>
    <link rel="stylesheet" href="<%- rootlink %>css/post-body.css">
    <div class="article" style="top: 135px;">
        <a class="back waves-effect waves-light tooltipped" onclick="javascript:history.back(-1);" data-position="right" data-tooltip="返回上一层">
            <svg viewBox="32 32 896 896" focusable="false" data-icon="left" width="2em" height="2em" fill="currentColor"
                aria-hidden="false">
                <path
                    d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 0 0 0 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z" />
            </svg>
        </a>

        <div class="page_title">关于</div>
        <a class="uico waves-effect waves-light" style="background: #0094de;" href='../update'>
            <div class="co_main" style="color:#ffffff"><%- config.title %>状态</div>
            <div class="co_sub" style="color:#ffffff">主题:Particle S Theme</div>
            <div class="co_sub" style="color:#ffffff">
                <%- theme.cisver %>
                    <%-theme.code %>
            </div>
            <div class="co_sub" style="color:#ffffff">
                <%- theme.udate %>
            </div>
        </a>

        <div class="uico waves-effect waves-light">
            <div class="co_main" onclick="window.location.href='https://www.ip138.com/'">您的ip地址</div>
            <div id="getip" class="co_sub">无法获取，请检查你的ip属地</div>
        </div>

        <div class="uico waves-effect waves-light"
            onclick="window.location.href='https://github.com/Riru233/riru233.github.io'">
            <div class="co_main">访问Github</div>
            <div class="co_sub">点击访问公开代码</div>
        </div>

        <div class="uico waves-effect waves-light" onclick="window.location.href='https://typoraio.cn/'">
            <div class="co_main">默认MarkDown工具</div>
            <div class="co_sub"><%-theme.mdtool %></div>
        </div>

        <div class="uico waves-effect waves-light">
            <div class="co_main">博客参与人员</div>
            <div class="co_sub">
                <div>Hizuna(主题改造)</div>
                <div>Korilin(主题制作)</div>
                <div>梦璃(维护)</div>
                <div>洛棂(摸鱼)</div>
            </div>
        </div>

        <a class="uico waves-effect waves-light" href='./doc'>
            <div class="co_main">关于作者</div>
            <div class="co_sub">点击查看</div>
        </a>
        
        <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
        <script type="text/javascript">
            document.querySelector('#getip').innerHTML = returnCitySN["cip"] + '/' + returnCitySN["cname"]
        </script>

    </div>